@using Microsoft.Extensions.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<TAS.Resources.SharedResource> localizerShared
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Truy Xuất Thông tin";
}
@section Style {
    <link rel="stylesheet" href="../Contents/css/Traceability/Traceability.css">
}
<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="https://ableproadmin.com/dashboard/index.html">Home</a></li>
                            <li class="breadcrumb-item" aria-current="page">@ViewData["Title"]</li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h2 class="mb-0">@ViewData["Title"]</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end --><!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-12">
                <div class="card table-card">
                    <div class="card-header">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                @* <label class="form-label" for="inputState">Đại lý</label>
                                <select id="inputState" class="form-select">
                                    <option selected="selected">select</option>
                                    <option>Large select</option>
                                </select> *@
                                <div class="form-check form-switch switch-lg">
                                    <input class="form-check-input input-primary f-16" type="checkbox" id="ChkAll" checked="checked">
                                    <label class="form-check-label" for="ChkAll">@localizer["key_showall"]</label>
                                </div>
                            </div>
                            <div class="d-flex">
                                <!-- Nút chọn file -->
                                @* <label for="importExcel" class="btn btn-primary">Chọn file</label>
                                <input type="file" id="importExcel" hidden>
                                <span id="file-name" class="ms-2 d-none"></span>
                                <button onclick="onExportExcelData()" class="btn btn-primary buttonSearch">Xuất Excel</button>
                                <button onclick="onExportExcel()" class="btn btn-primary buttonSearch">Mẫu Excel</button> *@
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <!-- [ Main Content ] end -->
                            <div id="TraceabilityGrid" style="height: 500px;width:100%" class="ag-theme-alpine"></div>
                            <div id="topPager" class="pager">
                                <label>Rows/Page</label>
                                <select id="pageSize">
                                    <option>20</option>
                                    <option selected>50</option>
                                    <option>100</option>
                                    <option>200</option>
                                </select>

                                <a href="#" class="avtar avtar-s btn-link-secondary" id="first"><i class="ti ti-chevrons-left f-18"></i></a>
                                <a href="#" class="avtar avtar-s btn-link-secondary" id="prev"><i class="ti ti-chevron-left f-18"></i></a>

                                <span id="pageInfo"></span>

                                <a href="#" class="avtar avtar-s btn-link-secondary" id="next"><i class="ti ti-chevron-right f-18"></i></a>
                                <a href="#" class="avtar avtar-s btn-link-secondary" id="last"><i class="ti ti-chevrons-right f-18"></i></a>

                                <span id="rowCount" style="margin-left:12px">Rows: 0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<partial name="~/Views/Shared/Modal/_Pallet.cshtml" />
@section Scripts {
    <script type="text/javascript" src="~/Contents/js/Traceability/Traceability.js"></script>
    <script>        
        var Traceability = '#TraceabilityGrid';
        CreateGridTraceability(true);
        RegEventTraceability();
    </script>
}