<!-- [Page Specific JS] start -->
<script data-cfasync="false"
        src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="../assets/js/plugins/apexcharts.min.js"></script>
<script src="../assets/js/widgets/all-earnings-graph.js"></script>
<script src="../assets/js/widgets/page-views-graph.js"></script>
<script src="../assets/js/widgets/total-task-graph.js"></script>
<script src="../assets/js/widgets/download-graph.js"></script>
<script src="../assets/js/widgets/customer-rate-graph.js"></script>
<script src="../assets/js/widgets/tasks-graph.js"></script>
<script src="../assets/js/widgets/total-income-graph.js"></script><!-- [Page Specific JS] end --><!-- Required Js -->
<script src="../assets/js/plugins/popper.min.js"></script>
<script src="../assets/js/plugins/simplebar.min.js"></script>
<script src="../assets/js/plugins/bootstrap.min.js"></script>
<script src="../assets/js/plugins/i18next.min.js"></script>
<script src="../assets/js/plugins/i18nextHttpBackend.min.js"></script>
<script src="../assets/js/icon/custom-font.js"></script>
<script src="../assets/js/script.js"></script>
<script src="../assets/js/theme.js"></script>
<script src="../assets/js/multi-lang.js"></script>
<script src="../assets/js/plugins/feather.min.js"></script>
<script defer="defer"
        src="../../fomo.codedthemes.com/pixel/CDkpF1sQ8Tt5wpMZgqRvKpQiUhpWE3bc"></script>
<div class="floting-button">
    <a href="../../themeforest.net/item/able-pro-responsive-bootstrap-4-admin-template/1930040365c4.html"
       class="btn btn btn-danger buynowlinks d-inline-flex align-items-center gap-2"
       data-bs-toggle="tooltip" title="Buy Now">
        <i class="ph-duotone ph-shopping-cart"></i> <span>
            Buy
            Now
        </span>
    </a>
</div>
<script>layout_change('light');</script>
<script>change_box_container('false');</script>
<script>layout_caption_change('true');</script>
<script>layout_rtl_change('false');</script>
<script>preset_change('preset-1');</script>
<script>main_layout_change('vertical');</script>