

<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="https://ableproadmin.com/dashboard/index.html">Home</a></li>
                            <li class="breadcrumb-item" aria-current="page">Cập nhật số liệu</li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h2 class="mb-0">Cập nhật số liệu</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end --><!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-12">
                <div class="card table-card">
                    <div class="card-header">
                        <div class="d-sm-flex align-items-center justify-content-between">
                            <div>
                                <a href="course-teacher-add.html" class="btn btn-primary">Đại lý A</a>
                                <a href="course-teacher-add.html" class="btn btn-primary">Đại lý B</a>
                                <a href="course-teacher-add.html" class="btn btn-primary">Đại lý C</a>
                            </div>
                            <div>
                                <!-- Nút chọn file -->
                                <label for="importExcel" class="btn btn-primary">Chọn file</label>
                                <input type="file" id="importExcel" hidden>
                                <span id="file-name" class="ms-2"></span>
                                <button onclick="onExportExcelData()" class="btn btn-primary">Xuất Excel</button>
                                <button onclick="onExportExcel()" class="btn btn-primary">Mẫu Excel</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <!-- [ Main Content ] end -->
                            <div id="myGrid" style="height: 500px;width:100%" class="ag-theme-alpine"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="~/Contents/js/RubberGarden/RubberGarden.js"></script>
    <script>
        var listdataEventsActual;
        var EventsActual = '#myGrid';
        RefreshAllGridWhenChangeData();
        CreateGridEventsActual(true);
    </script>
}