
.grid-info {
	display: inline-block;
}

.datatable-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


div.ag-cell-value[col-id="status"] > span {
	margin-top: -3px !important;
	display: block;
}
.datatable-top div{
	width:50% !important;
}
.button_filter {
	justify-content: flex-end;
	display: flex;
}
.ag-picker-field-wrapper {
	height: 39px;
	width: 105px;
}
