.ag-paging-button-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.grid-info {
	display: inline-block;
}

.datatable-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.grid-paging {
	display: flex;
	margin-bottom: 0 !important;
}
	.grid-paging li.page-item {
		list-style-type: none;
		margin: auto 5px;
	}
		.grid-paging li.page-item:not(.active) .page-link i {
			color: #000 !important;
		}
		.grid-paging li.page-item.disabled .page-link i{
			color: #cdcdcd !important;
		}
		.grid-paging li.page-item:not(.active) .page-link {
			color: #000 !important;
		}
		
