.card-body{
    padding: 0 !important;
}
.ag-root,
.ag-body,
.ag-center-cols-container,
.ag-cell {
    user-select: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
}
.ag-cell .ag-cell-value {
    order: 3;
}

.ag-cell .ag-row-drag {
    order: 2;
}

.ag-cell .ag-selection-checkbox {
    order: 1;
}
.ag-header-cell .ag-checkbox-input-wrapper {
    margin-left: 10px;
}
.ag-row-drag, .ag-selection-checkbox{
    margin: 0 4px;
}
/*.ag-header-cell[col-id="maNhaVuon"] {
    margin: 0 -3px;
}*/
.ag-header-cell .ag-floating-filter-button, .ag-icon-menu {
    display: none !important;
}

.ag-header-cell .ag-input-wrapper {
    justify-content:center;
    
}
.ag-header-cell .ag-input-field-input{
    max-width: calc(100% - 20px);
}

.ag-pinned-left-cols-container .ag-cell:not(div[col-id="IS_ACTIVE"]), .ag-center-cols-container .ag-cell:not(div[col-id="IS_CHECK"]):not(div[col-id="IS_ACTIVE"]):not(div[col-id="Edit"]) {
    margin: 1px !important;
    padding: 0 !important;
}
select {
    
   
}
.search-box {
    display:inline-block;
}
.datatable-selector, .form-select, .searchInput {
    width: 300px !important;
    padding: 5px !important;
    margin-left:10px !important;
}
.card-header {
    padding: 15px !important;
}
#topPager {
    padding: 5px 15px !important;
}
.form-label {
    margin: 0 !important;
}
.btn, .introjs-tooltip .introjs-button {
    border-radius: 4px !important;
    padding: 5px 12px !important;
}
.buttonSearch{
    margin-left:5px; 
}

/* css select 2 */
.select2-search--dropdown .select2-search__field {
    border-radius: 5px;
    padding: 2px !important;
    margin: 3px 0;
}
.select2-container{
    margin-left:10px;
}