.text-cell-eclip{
	display:inline;
}
.btn.Col-orderName, .btn.Col-orderName:focus-visible, .btn.Col-orderName:hover {
	text-decoration: none;
	padding-bottom: 5px;
	padding-top: 0;
}
#myLargeModalLabel .modal-dialog {
	min-width: 70%;
}